<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">Visualización de música</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav mr-auto">
            <div class="btn-group" role="group">
                <button id="circles" class="btn btn-dark active" onclick="changeType(CIRCLES, 'circles')">Circles</button>
                <button id="circles2" class="btn btn-dark" onclick="changeType(CIRCLES2, 'circles2')">Circles 2</button>
                <button id="circlebars" class="btn btn-dark" onclick="changeType(CIRCLEBARS, 'circlebars')">Circles with bars</button>
                <button id="bars" class="btn btn-dark" onclick="changeType(BARS, 'bars')">Bars</button>
                <button id="waves" class="btn btn-dark" onclick="changeType(WAVES, 'waves')">Waves</button>
                <button id="fullscreen" class="btn btn-dark" onclick="changeType(FULLSCREEN, 'fullscreen')">Fullscreen</button>
            </div>
        </div>
        <div class="navbar-nav ml-md-auto">
            <div class="input-group">
                <div class="custom-file mr-sm-2">
                    <input type="file" accept="audio/mpeg" class="custom-file-input" id="inputAudioFile" aria-describedby="inputGroupFileAddon04" onchange="changeAudioFile()">
                    <label id="lbInputAudioFile" class="custom-file-label" for="inputAudioFile">Choose file</label>
                </div>
            </div>
        </div>
        <button id="btnPlay" class="btn btn-outline-primary" type="button" onclick="btnPauseListener()" hidden><i class="fas fa-play"></i></button>
        <div id="loading" class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</nav>