<!DOCTYPE html>
<html>

  <head>
    <%- include("../partials/header") %>
  </head>

  <body>
    <%- include("../partials/menubar") %>
    
    <div class="container-fluid align-items-center">
      <div id="canvas-container" class="row d-flex justify-content-center"></div>
    </div>

    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!-- p5.js -->
    <script src="/scripts/p5/p5.min.js"></script>
    <script src="/scripts/p5/p5.sound.min.js"></script>
    <!-- Local -->
    <script src="/scripts/visualization.js"></script>
    <script src="/scripts/sketch.js"></script>
  </body>

</html>